*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    min-height: 100%;
    background-color: rgb(241, 241, 241);
}
.navbar{
    background-color: cornflowerblue;
    color: #fff;
}
.nav-item:hover{
    background-color: rgb(148, 182, 245);
}
.content{
    margin: 20px auto;
    padding: 0px;
    border-radius: 5px;
    background-color: #fff;
    min-height: 50vh;
    box-shadow: 0 0 3px #b5b0b0;
}
header{
    background-color: rgb(75, 135, 247);
    padding: 10px;
    border-radius: 5px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    margin-bottom: 10px;
    color: #fff;
}
.cards{
    padding: 20px 20px;
}
.card{
    cursor: pointer;
    min-height: 254px;
    margin-bottom: 20px;
    box-shadow: 0 0 7px #b5b0b0;
}
.card-body{
    padding: 0px;
}
.card-body, img{
    width: 100%;
    height: 210px;
}
.card-body p{
    padding: 10px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0px;
}
.card:hover{
    transform: scale(1.02);
    transition: .3s ease-in-out;
}